body {
    padding-top: 50px;
}

.page-content {
    padding: 40px 15px;
    text-align: center;
}

label {
    margin-top: 10px;
}

.small-button {
    width:25%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
