{% extends "layout.html" %}
{% block body %}
    <h1><small>Year and Make</small></h1>
    <form method="POST" action="{{ url_for('create_vehicle') }}">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <label for="year">Year</label>
                <input name="year" type="number" class="form-control" required>
            </div>
            <div class="col-xs-12 col-sm-3">
                <label for="make">Make</label>
                <input name="make" type="text" class="form-control" required>
            </div>
            <div class="col-xs-12 col-sm-3">
                <label for="model">Model</label>
                <input name="model" type="text" class="form-control" required>
            </div>
            <div class="col-xs-12 col-sm-3">
                <label for="trim">Trim</label>
                <input name="trim" type="text" class="form-control" required>
            </div>
        </div>
        <h1><small>Vehicle Image</small></h1>
        <div class="row">
            <div class="col-xs-12">
                <label for="image_url">Image URL</label>
                <input type="url" class="form-control" name="image_url"> 
            </div>
        </div>
        <h1><small>Specifications</small></h1>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <label for="style">Style</label>
                <select name="style" class="form-control">
                    <option value="1">AWD/4WD</option>
                    <option value="2">Commercial</option>
                    <option value="3">Convertible</option>
                    <option value="4">Coupe</option>
                    <option value="5">Hatchback</option>
                    <option value="6">Hybrid/Electric</option>
                    <option value="7">Luxury</option>
                    <option value="8">Sedan</option>
                    <option value="9">SUV/Crossover</option>
                    <option value="10">Truck</option>
                    <option value="11">Van/Minivan</option>
                    <option value="12">Wagon</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-6">
                <label for="fuel_economy">Fuel Economy</label>
                <select name="fuel_economy" class="form-control">
                    <option value="1">40+ MPG (Best)</option>
                    <option value="2">31 - 40 MPG (High)</option>
                    <option value="3">21 - 30 MPG (Average)</option>
                    <option value="4">10 - 20 MPG (Low)</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <label for="engine">Engine Type</label>
                <select name="engine" class="form-control"> 
                    <option value="1">3 Cylinder</option>
                    <option value="2">4 Cylinder</option>
                    <option value="3">5 Cylinder</option>
                    <option value="4">6 Cylinder</option>
                    <option value="5">8 Cylinder</option>
                    <option value="6">10 Cylinder</option>
                    <option value="7">12 Cylinder</option>
                    <option value="8">Rotary Engine</option>
                    <option value="9">Hybrid</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-6">
                <label for="transmission">Transmission</label>
                <select name="transmission" class="form-control">
                    <option value="1">Automatic</option>
                    <option value="2">Manual</option>
                </select>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-lg btn-block btn-success small-button" type="submit">Create Vehicle</button>
        </div>
    </form>
{% endblock %}
